html {
    font-family: sans-serif;
}

body {
    background-color: white;
    text-align: left;
    margin: 0;
}

#doc {
    justify-content: center;
    display: flex;
}

h1 {
    margin-top: 20px;
    text-align: center;
    display: block;
}

#num-input {
    background-color: #f0eedc;
    width: 400px;
    height: 400px;
    border-radius: 10%;
    border: black solid 5px;
}

#unit-selector {
    justify-content: space-evenly;
    padding-bottom: 20px;
    display: flex;
}

#unit-col {
    font-size: 15px;
    margin-top: 10px;
    width: 150px;
    display: inline-block;
}

select {
    font-size: 15px;
}

#input-group {
    justify-content: space-evenly;
    padding-bottom: 5px;
    align-content: center;
    display: flex;
}

.block-label {
    font-size: 15px;
    margin-bottom: 0.5em;
    display: block;
}

.input-row {
    margin-bottom: 10px;
    display: block;
}

#btn-group {
    justify-content: space-evenly;
    align-content: center;
    display: flex;
}

.btn-col {
    align-content: left;
    font-size: 15px;
    margin-top: 10px;
    width: 150px;
    display: inline-block;
}

button {
    font-size: 15px;
    width: 100px;
}