body {
    background-color: #e5989b;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.btn btn-secondary {
    background-color: #6d6875;
}

.input-group {
    margin: 20px;
}

#convert-btn {
    margin-right: 20px;
}