
body {
    background-color: #588157;
}

h1 {
    text-align: center;
    color: white;
}

div {
    text-align: center;
}

.light {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    margin: 10px;
    &:nth-of-type(1),&:nth-of-type(5){
        background-color: #da2c38;
    }
    &:nth-of-type(2),&:nth-of-type(6) {
        background-color: #27a300;
    }
    &:nth-of-type(3),&:nth-of-type(7) {
        background-color: #fbff00;
    }
    &:nth-of-type(4) {
        background-color: #06d4ef;
    }

}

label {
    color: white;
}

#interval {
    width: 50px;
}

div:nth-of-type(2) {
    margin: 10px;
}