body {
    background-color: #588157;
}

h1 {
    text-align: center;
    color: #f6f5f1;
}

div {
    text-align: center;
}

.light {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    margin: 10px;
}

label {
    color: white;
}

#interval {
    width: 50px;
}

div:nth-of-type(2) {
    margin: 10px;
}